<%-include("includes/head.ejs");%>
</head>
<body>
    <form  class="signbox" method="post" action="/login">
        <h2>Login</h2>
        <input type="text" name="username" placeholder="Enter username" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <button class="signbtn">Login</button><br><br>
    </form>
</body>
</html>