<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <%for(product of results){%>
        <h3><%= product.id %></h3>    
         <h1><%=product.name%></h1>
         <p><%=product.price%></p>
         <p><%=product.description%></p>
 <%}%>
</body>
</html>